<h1>
    Here's the Andy's photos
</h1>

{% for image in images %}
    <h2>
        {{ image.name }}
    </h2>
    <a href="{% url 'photo' image.id %}">
        <img src="{{ image.src.url }}" alt="{{ image.name }}" width="500">
    </a>
    <p>
        {{ image.description }}
    </p>
{% endfor %}